<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_1558918_cur3udrqn8.css"
          th:href="@{https://at.alicdn.com/t/font_1558918_cur3udrqn8.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet " type="text/css" href="../static/css/bushome.css" th:href="@{../static/css/bushome.css}">

    <link rel="stylesheet" type="text/css" href="../static/css/xfx.css" th:href="@{../static/css/xfx.css}">
    <script src="https://at.alicdn.com/t/font_1558918_cur3udrqn8.js"></script>

    <style src="text/css">
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
<!--<div class="jumbotron text-center" style="margin-bottom:0">-->
<!--    <h1>我的第一个 Bootstrap 4 页面</h1>-->
<!--    <p>重置浏览器窗口大小查看效果！</p>-->
<!--</div>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

    <div class="container user-drop">
        <div class="dropdown" th:if="${session.businessLogin != null}">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               th:text="${session.businessLogin.getAccount()}">
                登录
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <hr/>
                <a class="dropdown-item" href="#">退出登录</a>
            </div>
        </div>

        <div th:if="${session.businessLogin == null && session.studentLogin == null}">
            <button>登录</button>
        </div>

        <div class="dropdown" th:if="${session.studentLogin != null}">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               th:text="${session.studentLogin.getStuAccount()}">
                登录
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <hr/>
                <a class="dropdown-item" href="#">退出登录</a>
            </div>
        </div>

    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-pills mr-auto" style="padding-top: 5px">
            <li class="nav-item active" style="width: 100px;">
                <div class="div-info">
                    <img th:src="@{../static/images/icons/home.png}">
                    <a class="nav-link" th:if="${session.businessLogin!=null}" th:href="@{/business/home}">主页<span
                            class="sr-only">(current)</span></a>
                    <a class="nav-link" th:if="${session.studentLogin!=null}" th:href="@{/student/home}">主页<span
                            class="sr-only">(current)</span></a>
                </div>
            </li>
            <li class="nav-item" style="width: 100px;">
                <div class="div-info">
                    <img th:src="@{../static/images/icons/cou.png}">
                    <a class="nav-link" href="#">社区</a>
                </div>
            </li>
            <li class="nav-item" style="width: 100px;">
                <div class="div-info">
                    <img th:src="@{../static/images/icons/msg.png}">
                    <a class="nav-link" href="#">信息</a>
                </div>
            </li>
            <!--            <li class="nav-item" style="width: 100px;">-->
            <!--                <div class="div-info">-->
            <!--                    <img th:src="@{../static/images/icons/write.png}">-->
            <!--                    <a class="nav-link" th:href="@{/upload.html}">发布</a>-->
            <!--                </div>-->
            <!--            </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
</nav>

<div class="container" style="margin-top:30px;margin-bottom: 30px;max-width: 1300px">
    <div class="row">

        <div class="col-sm-9">
            <h4>兼职详细信息</h4><br/>
            <div class="media-main">
                <div>
                    <img th:src="@{../static/images/icons/8_avatar_2754583.png}" class="mr-3 rounded-circle" alt=""
                         style="float: left;height: 55px">
                    <div style="height: 50px">
                        <h5 class="mt-0" th:text="${jobInformation.getJobPublisher()}"></h5>
                        <h6 th:text="${jobInformation.getJobReleaseTime()}">time</h6>
                    </div>
                </div>

                <div style="font-size: 20px">
                    <br/><br/>
                    <!--                    招聘简介：<p style="font-size: 22px" th:text="${jobInformation.getJobTitle()}"></p>-->

                    <h6>招聘简介:</h6>
                    <div class="jumbotron" style="padding: 10px 10px">
                        <p th:text="${jobInformation.getJobTitle()}"></p>
                    </div>

                    <h6>兼职的详细内容:</h6>
                    <div class="jumbotron" style="padding: 10px 10px">
                        <p th:text="${jobInformation.getJobContent()}"></p>
                    </div>

                    招聘人数：<span th:text="${jobInformation.getUserCounts()}"></span>人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    招聘金额：<span th:text="${jobInformation.getJobSalary()}"></span>元<br/><br/>
                </div>
                <div style="margin-top: 15px;">
                    浏览<span th:text="${jobInformation.getViews()}">0</span>
                    点赞<span th:text="${jobInformation.getLikes()}">0</span>
                </div>
                <br/><br/>

                回复<span th:text="${jobInformation.getComments()}">0</span><br/>
                <div id="user-comment">
                    <div class=" border" style="padding: 8px" th:if="${comments!=null}"
                         th:each="comment:${comments}">
                        <div>
                            <img src="https://static.runoob.com/images/mobile-icon.png"
                                 class="align-self-start mr-3 rounded-circle" style="width:60px;float:left">
                            <h6 th:text="${comment.getCommentUserId()}">评论人</h6>
                            <span class="data-001">2019-7-1 13:20:56</span>
                        </div><br>
                        <div class="media-body" style="margin:8px 0 0 40px">
                            <sapn th:text="${comment.getCommentContent()}">评论内容</sapn>
                        </div>
                        <br>

                        <div class="p_dt">
                            <span class="btn001">
							    <a href="javascript:;" class="infoTop">0</a>
							    <a href="javascript:;" class="infoDown">0</a>
							    <a href="javascript:;" class="infoDel">删除</a>
						    </span>
                        </div>

                    </div>
                    <p th:if="${comments==null}">暂无评论</p>
                </div>
                <input type="hidden" id="jobId" th:value="${jobInformation.getJobId()}">
                <input type="hidden" id="busId" th:value="${jobInformation.getJobPublisher()}">
                <input type="hidden" id="userId" th:if="${session.studentLogin!=null}"
                       th:value="${session.studentLogin.getStuAccount()}">

                <div class="form-group">
                    <label for="comment">评论:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>

                <button type="button" id="btn" class="btn btn-primary">提交</button>
            </div>

        </div>

        <div class="col-sm-3">
            <h4>欢迎使用兼职系统</h4>
            <div class="fakeimg">
                <img th:src="@{../static/images/show/showforus.jpg}" style="width: 100%;height: 295px">
            </div>
            <p>关于我的介绍..</p>

            <hr class="d-sm-none">
        </div>


    </div>
</div>

</body>
</html>
<script>
    $(function () {
        $('#btn').click(function () {
            if ($("#comment") == null || $("#comment") == "") {
                alert(12);
            } else {
                $.ajax({
                    url: "/user/comment",
                    type: "GET",
                    contentType: 'application/x-www-form-urlencoded',
                    data: {
                        comment: $('#comment').val(),
                        jobId: $('#jobId').val(),
                        busId: $('#busId').val(),
                        userId: $('#userId').val()
                    },
                    success: function (result) {
                        if (result === "1") {
                            $('#user-comment').append("<div class=\" border\" style=\"padding: 8px\" th:if=\"${comments!=null}\"\n" +
                                "                         th:each=\"comment:${comments}\">\n" +
                                "                        <div>\n" +
                                "                            <img src=\"https://static.runoob.com/images/mobile-icon.png\"\n" +
                                "                                 class=\"align-self-start mr-3 rounded-circle\" style=\"width:60px;float:left\">\n" +
                                "                            <h6 th:text=\"${comment.getCommentUserId()}\">"+$('#userId').val()+"</h6>\n" +
                                "                            <span class=\"data-001\">"+formartDate()+"</span>\n" +
                                "                        </div><br>\n" +
                                "                        <div class=\"media-body\" style=\"margin:8px 0 0 40px\">\n" +
                                "                            <sapn th:text=\"${comment.getCommentContent()}\">"+$('#comment').val()+"</sapn>\n" +
                                "                        </div>\n" +
                                "                        <br>\n" +
                                "\n" +
                                "                        <div class=\"p_dt\">\n" +
                                "                            <span class=\"btn001\">\n" +
                                "\t\t\t\t\t\t\t    <a href=\"javascript:;\" class=\"infoTop\">0</a>\n" +
                                "\t\t\t\t\t\t\t    <a href=\"javascript:;\" class=\"infoDown\">0</a>\n" +
                                "\t\t\t\t\t\t\t    <a href=\"javascript:;\" class=\"infoDel\">删除</a>\n" +
                                "\t\t\t\t\t\t    </span>\n" +
                                "                        </div>\n" +
                                "\n" +
                                "                    </div>")
                        } else {
                            alert(result);
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                })
            }
        })

        $("body").delegate(".infoTop", "click", function () {
            $(this).html(parseInt($(this).html()) + 1);
        });
        $("body").delegate(".infoDown", "click", function () {
            $(this).html(parseInt($(this).html()) + 1);
        });
        $("body").delegate(".infoDel", "click", function () {
            $(this).parents(".media").remove();
        });

        function formartDate() {
            var data = new Date();
            var arr = [data.getFullYear() + "-",
                data.getMonth() + 1 + "-",
                data.getDate() + " ",
                data.getHours() + ":",
                data.getMinutes() + ":",
                data.getSeconds()];
            return arr.join("");
        }

    })
</script>