<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login/login.css"
          th:href="@{../static/css/login/login.css}">
    <script type="text/javascript" src="../static/js/jquery/jquery-3.4.1.min.js"
            th:src="@{../static/js/jquery/jquery-3.4.1.min.js}"></script>
    <script th:src="@{../static/js/jquery/jquery-3.4.1.min.js}"></script>
</head>
<body>

<div class="container">
    <div class="left_box"></div>
    <div class="right_box">
        <div class="right_container">
            <div class="header">
                <h2 class="animation a1">登录</h2>
                <h4 class="animation a2">使用账号密码登入你的帐户</h4>
            </div>
            <div class="login_box">
                <input type="text" name="user_login" id="user_login" class="login_input animation a3" placeholder="账号"
                       onfocus="this.placeholder = ''" onblur="this.placeholder = '账号'">
                <input type="password" name="pwd_login" id="pwd_login" class="login_input animation a4" placeholder="密码"
                       onfocus="this.placeholder = ''" onblur="this.placeholder = '密码'">
                <div id="checkBox">
                    <input type="radio" id="bus" name="user" value="business">商家
                    <input type="radio" id="stu" name="user" value="student">学生
                </div>
                <button id="submit" class="animation a6">登&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp录</button>
                <p class="animation a5"><a href="#">忘记密码</a></p>
                <p class="animation a7">没有账号？<a href="registered.jsp">注册</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    $(function () {


        $("#submit").click(function () {
            var $user_login = $('#user_login').val();
            var $pwd_login = $('#pwd_login').val()
            if ($user_login == null || $user_login == "") {
                alert(1);
            } else if ($pwd_login == null || $pwd_login == "") {
                alert(2);
            } else if ($('#bus').is(":checked") == true) {
                alert(3);
                $.ajax({})
            } else if ($('#stu').is(":checked") == true) {
                alert(4);
                $.ajax({
                    url: "/",
                })
            } else {
                // alert(5);
            }
        })
    })
</script>